@inject NavigationManager NavigationManager

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">Rent Home</button>
@code {
     private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
